body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.note-book {
    width: 700px;
    margin: 70px auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
}

#note-form {
    display: flex;
    flex-direction: column;
}

#note-title, #note-content, #save-button {
    padding: 20px;
    border-radius: 10px;
}

#note-title, #note-content {
    margin-bottom: 10px;
    border: 1px solid #d1d1d1;
    transition: 0.3s;
}

#note-title:focus, #note-content:focus {
    outline: none;
    border-color: #1973d3;
}

#save-button {
    cursor: pointer;
    background-color: #1973d3;
    color: white;
    border: none;
    transition: 0.3s;
}

#save-button:hover {
    background-color: #0056b3;
}

.note-card {
    background-color: #dfdfdf;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.note-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.edit-button, .delete-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.edit-button {
    background-color: #ffc107;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button:hover {
    background-color: #e0a800;
}

.delete-button:hover {
    background-color: #b02a37;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.note-date {
    display: block;
    text-align: right;
    margin-top: 15px;
    color: #666666;
    font-size: 12px;
}